.main-css {
  min-height: 100vh;
  background-image: url("./whitecloud.png");
  background-position: center;
  background-size: 30%;
}

.App {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.load {
  font-family: 'Londrina Outline', cursive;
  font-size: 5em;
  font-weight: bolder;
  color: #6D9F71;
}

.question-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.errorMess {
  font-family: 'Londrina Outline', cursive;
  font-size: 2.5em;
  color: red;
  font-weight: bolder;
}

@media screen and (max-width: 670px) {
  .load {
    font-size: 3em;
  }
}
